@font-face {
  font-family: Avenir;
  src: url("AvenirLTStd-Roman.otf");
}

body {
  margin: 0 auto;
  font-family: Avenir, sans-serif;
  height: 100vh;
  background: no-repeat top center;
  background-image: url("bg2150.jpg");
  background-size: cover;
  color: #f9f9f9;
}

.botaoEntrar{
  cursor:pointer;
  border-radius: 4px;
  box-sizing: border-box;
  vertical-align: middle;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  max-width: none;
  height: 50px;
  background-color: #4e4a59;
  border: 0;
  color: #f9f9f9;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 1px;
  float: right;
}
