body{
  margin: 0 auto;
}
.wrapper{
  max-width: 100%;
  margin: 0 auto;
}
.bg{
  height: 100vh;
  background-image: url("bg2150.jpg");
  background-size: cover;
  position: relative;
}

@font-face {
  font-family: Avenir;
  src: url("AvenirLTStd-Roman.otf");
}

@media only screen and (max-width: 1400px){
  .wrapper .bg {
      background-image: url("bg1400.jpg");
  }
  .wrapper #logo{
      top: 45%;
      left: 43.5%;
  }
  .wrapper h1{
          top: 52%;
          left: 10%;
          right: 10%;
  }
  .wrapper .botaoAssine{
      max-width: 500px;
      width: 100%;
      top: 65%;
      left: 31%;
  }
}

@media only screen and (max-width: 750px){
  .wrapper .bg {
      background-image: url("bg750.jpg");
  }
  .wrapper #logo{
      top: 35%;
      left: 33%;
  }
  .wrapper h1{
          top: 40%;
          left: 10%;
          right: 10%;
  }
  .wrapper .botaoAssine{
      max-width: 300px;
      width: 100%;
      top: 55%;
      left: 20%;
  }  
  .wrapper .seta{
      top: 75%;
      left: 44%;
  }
}

.botaoEntrar{
  cursor:pointer;
  border-radius: 4px;
  box-sizing: border-box;
  vertical-align: middle;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  max-width: none;
  height: 50px;
  top:16px;
  right:40px;
  background-color: #4e4a59;
  border: 0;
  color: white;
  font-family: Avenir, sans-serif;
  font-size: 18px;
  line-height: 18px;
}

#logo{
  width: 180px;
  height: 55px;
  top: 61.6%;
  left: 45.3%;
  position: absolute;
}

h1{
  font-family: Avenir, sans-serif;
  font-size: 28px;
  color: white;
  top: 69.6%;
  left: 36.5%;
  position: absolute;
  text-align: center;
  letter-spacing: normal;
  font-weight: bold;
}

.botaoAssine{
  cursor:pointer;
  border-radius: 4px;
  box-sizing: border-box;
  vertical-align: middle;
  text-align: center;
  display: inline-flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  background-color: #6421ff;
  color: white;
  border: 0;
  height: 68px;
  max-width: 700px;
  font-family: Avenir, sans-serif;
  font-size: 18px;
  line-height: 18px;
  width: 100%;
  top:78.5%;
  left:32%;
}

.seta{
  background-color: transparent;
  border: 0;
  position: absolute;
  top: 93%;
  left: 49%;
}